.product-page {
  display: flex;
  padding: 20px;
}

.filters {
  width: 250px;
  margin-left: 80px;
  margin-right: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  color: #424242;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-section {
  margin: 40px;
  width: 400px;
}

.filter-section h3 {
  margin-bottom: 10px;
}

.filter-section select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.checkbox-label{
  display: block;
  margin-bottom: 10px;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.product-item {
  width: 200px;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  color:#424242;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out; 
  
}
.cart-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.cart-icon {
  margin-left: 5px;
  font-size: 20px; 
}

.product-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-item:hover {
  transform: scale(1.1); 
}

.product-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-item p {
  margin-bottom: 10px;
}

.product-item .price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.product-item .discounted-price {
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
}

.product-item .original-price {
  font-size: 14px;
  text-decoration: line-through;
  margin-right: 5px;
  color: #888;
}

.product-item .discount-percentage {
  font-size: 14px;
  color: red;
}

.product-item button1{
  margin-top: 10px;
  padding: 4px 6px;
  border: none;
  cursor: pointer;
}

.product-item button2 {
  padding: 4px 6px;
  border: none;
  cursor: pointer;
}

.product-item button1 {
  background-color: #e69a27;
  color: #424242;
}

.product-item button2 {
  background-color: #fad8b5;
  color: #424242;
}

.product-item button1:hover {
  background-color: #ffd596;
}

.product-item button2:hover {
  background-color: #ffffff;
}